nav ul li, nav ul li a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav summary + ul li {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

nav details li a {
  font-size: .7em;
}

details[role="list"] summary + ul li a:hover {
  color: var(--primary);
  font-weight: 700;
}