@import './variables';
@import '@picocss/pico';

      //  font-family: 'Bungee', cursive;
      //  font-family: 'Montserrat',sans-serif;
      //  font-family: 'Poppins',  sans-serif;

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: 'Bungee', cursive;
  color: $primary-500;
}
