body {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6, summary {
  font-family: 'Bungee', sans-serif;
  color: var(--primary);
}

nav li {
  font-family: inherit;
}

b {
  color: var(--primary);
}

a {
  cursor: pointer;
}