/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary-hover: #7b1fa2;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #FFF;
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #8e24aa;
    --primary-hover: #9c27b0;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #8e24aa;
  --primary-hover: #9c27b0;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #FFF;
}

/* Purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}